{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}



     <div class ="form">
         
          {% if "valido" in request.GET %}
               <p style ="color:rgb(45, 89, 139); font-size:50px">Informacion Enviada</p>

          {% endif %}
     

          <form action="#" method="POST" style="text-align:center;">
               <!--Para darle seguridad a la pagina:Una medida de seguridad-->
               {%csrf_token%}

         

               <table style = "color:white;margin:20px auto;" >{{miFormulario.as_table}}</table>
               <input type="submit" value="Enviar" style = "width:150px"> 
            
          </form> 
             
         
     
     </div>


   

    {% endblock %}
